<h1>Star Wars Search:</h1>

<!-- form -- a way to deliver a data payload from the user to the backend
two important properites for a form element to have when it communicates with a server.

1. a method what kind of http request are you doing with it
    * get (read) request
    * post (rcreate) request
2. action = is the url (route) that takes in the form data
-->

<form method="GET" action="/search">
    <label for="search-input">Search:</label>
    <input type="text" name="" id="search-input" placeholder="enter your query">
</form>